:root {
  --main-color: #d67e15;
  --accent-color: #158fd6;
  --white-color: #fff;
  --black-color: #000;
  --bright-neon-sign: #f700ff;
  --title-font: "Michroma", sans-serif;
  --general-font: "Noto Sans", sans-serif;
  --disabled-color: #303030;
  --button-hover-color: #9c5600;
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}
body {
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us-modal-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.89);
}
.contact-us-modal-content {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.form-disclaimer {
  margin-top: 2rem;
  font-size: 0.8rem;
}
@media screen and (max-width: 568px) {
  .contact-us-modal-content {
    padding: 5% !important;
  }
}
.chat-modal-close {
  align-self: flex-end;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1200px;
  background-color: #000;
  border: none;
  padding-bottom: 1rem;
}
.branding {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.logo {
  width: 150px;
  height: 60px;
}
.social-icons-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.social-icon {
  width: 20px;
  cursor: pointer;
}
.contact-studio-cta {
  width: 150px;
  color: var(--black-color);
  font-weight: bold;
  font-size: 0.8rem !important;
  text-transform: uppercase;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  text-align: center;
  font-family: var(--title-font);
  color: var(--main-color);
}

p {
  font-family: var(--general-font);
  color: var(--white-color);
}
a {
  color: var(--accent-color);
}
.main-site-title {
  color: var(--main-color);
}
.btn {
  border-radius: 10px;
  border: none;
  background-color: var(--main-color);
  padding: 5%;
  font-family: var(--general-font);
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}
.btn:hover {
  background-color: var(--button-hover-color) !important;
}
.section {
  padding: 5% 0;
}

.live-now {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
}

.live-now p {
  font-size: 1.5rem;
}

.on-air-sign {
  width: 200px;
  border: 1px solid var(--bright-neon-sign);
  border-style: double;
  border-width: 4px;
  text-align: center;
  /* border-radius: 20px; */
  padding: 5px;
  margin: 20px 0 10px 0;
  box-shadow: 0px 0px 7px 0.8px var(--bright-neon-sign);
}
.on-air-sign p {
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
  text-shadow: 2px 2px 0 var(--bright-neon-sign),
    2px -2px 0 var(--bright-neon-sign), -2px 2px 0 var(--bright-neon-sign),
    -2px -2px 0 var(--bright-neon-sign), 2px 0px 0 var(--bright-neon-sign),
    0px 2px 0 var(--bright-neon-sign), -2px 0px 0 var(--bright-neon-sign),
    0px -2px 0 var(--bright-neon-sign);
  margin: 0;
}

.live-now-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-name {
  color: var(--accent-color);
  font-weight: bold;
}

.section--radio-player {
  width: 90vw;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

.section--about {
  padding: 5%;
}
.about-container {
  width: 100%;
  max-width: 600px;
}

.section-shows {
  padding: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shows-container {
  width: 100%;
  max-width: 800px;
}
.shows-grid {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.show {
  display: flex;
  padding: 0 1rem;
}
.show-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}
.presenter-profile-pic {
  width: 70px;
  height: 70px;
}
.show-info {
  font-weight: bold;
  color: var(--main-color);
}
.show-info {
  display: flex;
  flex-direction: column;
}
.section--team {
  padding: 5%;
}
.team-container {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.team-member {
  display: flex;
  flex-direction: column;
}
.team-member-name {
  color: var(--main-color);
}

.team-member-role {
  font-size: 0.8rem;
}
.section--contact {
  padding: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden {
  display: none;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  gap: 0.5rem;
}

input,
textarea {
  border-radius: 10px;
  border: none;
  padding: 1rem;
  font-family: var(--general-font);
}
.recaptcha-div {
  width: 100%;
  margin: 1rem 0;
}
footer {
  position: fixed;
  width: 100%;
  max-width: 1200px;
  padding-top: 1rem;
  /* padding: 20px 0; */
  bottom: 0;
  background-color: #000;
}
.footer-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item p {
  font-weight: 600;
}
.nav-icon {
  width: 30px;
  color: var(--accent-color);
}

.disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-weight: bold;
  }
  .shows-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 568px) {
  .team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
